.promo {
    padding-bottom: 82px;
    min-height: 680px;
    background: url('../img/main.jpg') center (center/cover) no-repeat;
    &__subtitle {
        color: #ffffff;
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        margin-top: 58px;
        text-align: center;
        margin-bottom: 24px;
    }
    &__title {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;

    }
    &__info {
        font-family: "Roboto Condensed", sans-serif;
        color: #ffffff;
        font-size: 42px;
        line-height: 42px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-top: 9px;
    }
    &__strip {
        margin-top: 38px;
        text-align: center;
        img {
            max-width: 100%;
        }
        
    }
    &__cards {
        margin: 27px 0 39px 0;
    }
    &__card {
        display: flex;
        flex-direction: column;
    }
    &__img {
        margin: 0 auto;
        img {
           height: 56px; 
        }
        
    }
    &__card-info {
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin-top: 16px;
    }
}


